.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #00C298;
  height: 150px;
  padding: 20px;
  color: white;
}

.linkForm {
  margin-top: 20px;
}

.linkForm input[type="text"] {
  background-color: #f0f0f0;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  width: 60%;
  text-align: center;
  font-size: 18px;
  outline: none;
}

.shortenedURL {
  border-top: 1px solid #d9d9d9;
  margin-top: 20px;
  padding-top: 20px;
  font-size: large;
  color: #00C298;
}

.shortenedURL a {
  font-weight: bold;
  color: #00C298;
}

.shortenedURL .copy {
  color: #999;
  font-size: 8px;
}

.shortenedURL .copy a {
  color: #999;
  text-decoration: none;
  font-weight: normal;
}

.shortenedURL .copy a:hover {
  text-decoration: underline;
}
